html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #fcff4d;
  padding-bottom: 3rem;
  color: #002153;
  font-family: "Tahoma", "Geneva", sans-serif;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

h1 {
  color: #4a93ff;
  font-family: 'Ranchers', cursive;
  font-weight:normal;
  font-size: 2.8rem;
}

h2 {
  margin-top: 0;
  color: #4a93ff;
  font-weight: normal;
  font-size: 1.3rem;
}

header {
  min-width: 30rem;
  width: 60%;
  text-align: center;
  margin-left: 1rem;
}

main {
  width: 60%;
  min-height: 30rem;
  margin: 0 auto 2rem auto;

}

footer {
  text-align: center;
  color: gray;
  padding-top: 0.5rem;
  position: absolute;
  bottom: 0;
  background-color: #e6f2ff;
  width: 100%;
  height: 4rem;
}

.tweet {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #e6f2ff;
  box-shadow: 3px 3px 2px gray;
  position: relative;
  white-space: pre-wrap;
}

.tweet button {
  border: none;
  font-size: 1.2rem;
}

.tweet button:focus {
  outline: none;
}

.char-count {
  color: gray;
  position: relative;
  text-align: right;
}

.visibility {
  visibility: hidden;
  display: flex;
  justify-content: center;
}

.small {
  font-size: 0.8rem;
}

#create-area {
  margin-bottom: 1.5rem;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 2px gray;
}

#create-area button {
  float: right;
}

#create-area textarea {
  resize: none;
  width: 100%;
  border: none;
  outline: none;
  color: #4a93ff;
}

/* ***RESIZING*** */
/* FOR TABLET */
@media screen and (max-width: 1024px) {
  main, header {
    width: 90%;
  }

}

@media screen and (max-width: 767px) {
  main, header {
    min-width: 20rem;
    width: 95%;
  }

}
